body{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
.desktop-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:transparent;

    padding: 2px 30px;
    padding-right: 0;
    position: fixed;
    z-index: 200;
    width: 98%;
    top: 0;
}
.logo img{
    position: absolute;
left: 4.76%;
right: 76.72%;
top: 8%;
bottom: 15%;
height: 50px;
width: 50px;

}
.logo h1{
    position: absolute;
left: 8.76%;
right: 76.72%;
top: 9.67%;
bottom: 15%;

font-family: Averia Serif Libre;
font-style: italic;
font-weight: bold;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
text-align: center;

color: #EC2626;
}

.desktop-nav .menu-items{
    display: flex;
    list-style: none;
}


.desktop-nav .menu-items li{
    margin: 0px 40px;


color: #fff;
}
.desktop-nav .menu-items li:hover{
    text-decoration: underline;
}
.desktop-nav .menu-items li :nth-last-of-type(1){
    margin-right: 0;
}
.desktop-nav .menu-items li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

.desktop-nav .menu-items li a.active::after{
    
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: red;
    left: 0;
    bottom: -14px;

}
 .desktop-nav .menu-items li a btn{
     color: white;

 }
a.btn{
    background-color: tomato;
    color: white;
    size: 20px;
    border-radius: 24px;
    padding: 14px 30px ;
    

}
.container{
    width: 100%;
 height: 100vh;
}
img{
    width: 100%;
    height: 70vh;
 
    position:absolute;
    z-index: -100;
}
.text h1{
    position: absolute;
    width: 300px;
    height: 90px;
    left: 200px;
    top: 350px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-left: 1%;
    background-color: black;
}
.text p {
    position: absolute;
width: 90%;
height: 271px;
left: 75px;
padding-right: 2%;
top: 550px;

font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 24px;
line-height: 28px;

align-items: center;
text-align: justify;

color: #000000;
}
.app h1{
    position: absolute;
    width: 254px;
    height: 60px;
    left: 80px;
    top: 700px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #e4204a;
    
    
}
.app p {
    position: absolute;
width: 90%;
height: 271px;
left: 75px;
padding-right: 2%;
top: 800px;

font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 24px;
line-height: 28px;

align-items: center;
text-align: justify;

color: #000000;
}
.deliver h1{
    position: absolute;
    width: 254px;
    height: 60px;
    left: 80px;
    top: 1080px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #e4204a;
    
    
}
.deliver p {
    position: absolute;
width: 90%;
height: 271px;
left: 75px;
padding-right: 2%;
top: 1170px;

font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 24px;
line-height: 28px;

align-items: center;
text-align: justify;

color: #000000;
}
