<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="css/gallary.css">
</head>

<body>
    <section id="photos">
        <img src="images/5aaa3c6c4786f.jpeg" alt="Cute cat">
        <img src="images/pratham-MAIN1c.jpg" alt="Serious cat">
        <img src="images/pratham-PROMO2.jpg" alt="">
        <img src="images/unnamed.png" alt="">
        <img src="images/Amrita-Rao-With-NGO-Children-1.jpg" alt="">
        <img src="images/importance-of-girl-child-education-in-india.jpg" alt="">
        <img src="images/education.jpg" alt="">
        <img src="images/colored-prints-children-s-hands-white-canvas-child-s-handprint-paper-colored-handprints-many-children-s-multi-colored-189757259.jpg" alt="">
        <img src="images/research-Advocacy-images.png" alt="">
        <img src="images/mumbai-india-11-february-2017-260nw-612711308.jpg" alt="">
        <img src="images/IMG20180223WA0129_Large.jpg" alt="">
        <img src="images/2b1b4b77-ad47-48df-980a-44ad88edab6e.jfif" alt="">
        <img src="images/Girls_students_Chhattisgarh_India.jpg" alt="">
        <img src="images/vulnerable-Children.png" alt="">
        <img src="images/pratham04.jpg" alt="">
        
        

    </section>

    <script src="js/gallary.js"></script>
</body>

</html>