<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel&family=Indie+Flower&family=Permanent+Marker&family=Shadows+Into+Light&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/homepage.css">
</head>

<body>
    <div class="wrapper">
        <nav class="desktop-nav">
            <div class="logo">
                <a href="#">
                    <img src="images/logo.svg" alt="">
                    <h1>Pratham</h1>
                </a>





            </div>
            <ul class="menu-items">
                <li>
                    <a onclick="location.href='aboutus'" class="active">Home</a>
                </li>
                <li>
                    <a onclick="location.href='homepage'">About</a>
                </li>
                <li>
                    <a onclick="location.href='programs'">Program</a>
                </li>
                <li>
                    <a onclick="location.href='#getinvolved'">Get Involved</a>
                </li>
                <li>
                    <a onclick="location.href='contactus'">Contact us</a>
                </li>
                <li>
                    <a onclick="location.href='form'" class="btn">Donate</a>
                </li>
            </ul>

        </nav>

    </div>
    <div class="container">
        <img src="images/student-shimla_1515758416.jpeg" alt="">
        <div class="text">
            <h1>About-us</h1>
            <br>
            <p>Pratham is an innovative learning organization created to improve the quality of education in India. Established in 1995 to provide education to children in the slums of Mumbai, Pratham has grown both in scope and geographical coverage.
                <br>
                <br> The mission to improve the quality of education in India and ensure that all children not only attend but also thrive in school is being accomplished by working in collaboration with the government, local communities, parents, teachers,
                volunteers, and civil society members.
                <br>
                <br> Pratham’s strategies reconfigure teaching methodologies, break down traditional tactics, and challenge the current rote learning mechanisms in our schools. Our programs are innovative and outcome-driven. n its early years Pratham
                developed innovative teaching-learning approaches, materials, and measurement methods. In 2005, we pioneered a nationwide survey of schooling and learning that has had a major impact on national and international policy discussions.

                <br>
                <br> Pratham has worked to develop low-cost, replicable models that can easily spread and be adopted by other organizations.
                <br>
                <br> All programs are designed to ensure that learning levels in schools and communities increase, education reaches all children who are in school or unable to use school facilities, and youth get well trained for job opportunities.
                <br>
                <br> Our programs aim to supplement rather than replace governmental efforts. They are implemented on a large scale to not only reach as many children as possible, but also to create an adoptable demonstration model for state governments.


            </p>
        </div>
    </div>
</body>

</html>